
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Toyota Corolla</a>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <span data-feather="home"></span>
                  Never <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file"></span>
                  Gonna
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="shopping-cart"></span>
                  Give
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="users"></span>
                  You
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="bar-chart-2"></span>
                  Up
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="layers"></span>
                  <3
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard</h1>

            
          </div>

          <div class="btn-group" role="group" aria-label="Basic example">
            <button id='blinkButtoLeftn' type="button" class="btn btn-secondary">Blinker Left</button>
          </div>

          <div class="btn-group" role="group" aria-label="Basic example">
            <button id='dimButton' type="button" class="btn btn-secondary">Daylight</button>
            <button id='beamButton' type="button" class="btn btn-secondary">High Beam</button>
          </div>

          <div class="btn-group" role="group" aria-label="Basic example">
            <button id='blinkButtonRight' type="button" class="btn btn-secondary">Blinker Right</button>
          </div>

            <br /><br />

          <div id="data" />
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- Icons -->
    <script src="{{ url_for('static', filename='js/feather.min.js') }}"></script>
    <script>
      feather.replace()
    </script>

    <script>
        $(document).ready(function() {

            var source = new EventSource('/stream');
            var data = document.getElementById('data');
            source.onmessage = function(e) {

                var CanMessage = e.data.split(':');
                var CanId = CanMessage[0];
                var CanDirection = CanMessage[1];
                var CanDevice = CanMessage[2];
                var CanAction = CanMessage[3];
                var CanAdditional = CanMessage[4];

                // if(device_name == 'LGT_REAR_RIGHT' && device_subdevice == 'BLINKERS'){
                //     if(device_status == 1){
                //         $('#blinkButtonRight').removeClass('btn-secondary');
                //         $('#blinkButtonRight').addClass('btn-warning');
                //     } else { 
                //         $('#blinkButtonRight').removeClass('btn-warning');
                //         $('#blinkButtonRight').addClass('btn-secondary');
                //     }
                // }

                // if(device_name == 'LGT_REAR_RIGHT' && device_subdevice == 'DIMLIGHT'){
                //     if(device_status == 1){
                //         $('#dimButton').removeClass('btn-secondary');
                //         $('#dimButton').addClass('btn-primary');
                //     } else { 
                //         $('#dimButton').removeClass('btn-primary');
                //         $('#dimButton').addClass('btn-secondary');
                //     }
                // }

                // if(device_name == 'LGT_REAR_RIGHT' && device_subdevice == 'FULLLIGHT'){
                //     if(device_status == 1){
                //         $('#beamButton').removeClass('btn-secondary');
                //         $('#beamButton').addClass('btn-primary');
                //     } else { 
                //         $('#beamButton').removeClass('btn-primary');
                //         $('#beamButton').addClass('btn-secondary');
                //     }
                // }
                if(CanDirection == 'PUSH'){
                  data.innerHTML = e.data;
                  console.log(CanMessage);
                }
               
            };
        });
    </script>
  </body>
</html>